* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.input-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(25, 27, 167, 1);
    padding: 10px;
    margin: 5px;
}

.input-container label, input, button {
    margin: 5px;
}

.input-container button {
    width: fit-content;
    padding: 3px;
    align-self: center;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 1px solid red;
    border-radius: 15px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row input {
    padding-left: 1px;
}

input {
    outline: none;
    box-sizing: border-box;
    transition: border 0.5s;
}

input[type='text']:focus {
    border: 2px solid lightblue;
    border-radius: 2px;
}

.done-todo div {
    text-decoration: line-through;
    text-decoration-style: double;
    text-decoration-thickness: 1.5px;
}

.todo-container div {
    padding: 2px 5px;
}

.todo-container button {
    padding: 3px;
}