* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.input-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(25, 27, 167, 1);
    padding: 10px;
    margin: 3px;
}

.input-container label, input, button {
    margin: 5px;
}

.input-container button {
    width: fit-content;
    padding: 3px;
    justify-self: center;
}
